body {
  margin: 0;
  background-color: #f0f3f5;
}

/* --- header --- */

.header {
  display: flex;
  z-index: 999;
  box-shadow: 0 0.125rem 0.75rem rgba(0, 0, 0, 0.08);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 2.5rem;
}

.header__logo-search--container {
  display: flex;
  gap: 1.875rem;
  align-items: center;
}

.header__logo--text {
  margin-left: 0.313rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #51b53c;
}

.header__searchContainer {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.header__searchIcon {
  width: 1.25rem;
  height: 1.25rem;
}

.header__container-fluid {
  border-bottom: solid #f0f3f5 0.063rem;

  @media (min-width: 62rem) {
    border-bottom: none;
    gap: 5rem;
  }
}

.header__search--button {
  border: 0;
  background-color: transparent;

  @media (min-width: 62rem) {
    display: none;
  }
}

.header__input {
  width: 100%;

  @media (min-width: 62rem) {
    width: 18.75rem;
  }
}

.header__date--container {
  display: flex;
  align-items: end;
  gap: 0.625rem;
  flex-shrink: 0;
  padding-right: 0.75rem;
  padding-top: 0.5rem;

  @media (min-width: 62rem) {
    padding-top: 0;
  }
}

.header__date--text {
  display: flex;
  flex-direction: row;
  gap: 0.313rem;
  padding-left: 0.75rem;
  font-size: 0.75rem;

  @media (min-width: 62rem) {
    flex-direction: column;
    gap: 0;
  }
}

.header__date--text span:first-child {
  font-weight: bold;
}

.header__date--clock {
  display: flex;
  align-items: center;
  gap: 0.313rem;
}

.header__date--clock span:last-child {
  font-size: 0.75rem;
  font-weight: bold;
}

.header__clockIcon {
  width: 0.625rem;
  height: 0.625rem;
  fill: #51b53c;
}

.header__menu--button {
  border: 0;
  background-color: transparent;
}

/* --- sidebar --- */

.sidebar {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;

  width: 9.375rem;
  flex: 1;
  padding-top: 1.25rem;

  background-color: #ffffff;
  box-shadow: 0.75rem 0.125rem 0.75rem rgba(0, 0, 0, 0.08);
  transition: transform 0.25s ease-in-out;
  will-change: transform;
}

.sidebar--open {
  transform: translateX(0);
}

.sidebar--collapsed {
  transform: translateX(calc(-100% + 2.1rem));

  @media (min-width: 62rem) {
    transform: translateX(0);
  }
}

.sidebar__menu--button {
  z-index: 1;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: 62rem) {
    display: none;
  }
}

.sidebar__menu-icon {
  position: absolute;
  top: 5px;
  right: 5px;

  width: 1.75rem;
  height: 1.75rem;
  fill: #000000;
}

.sidebar__user-icon {
  width: 80px;
  height: 80px;
}

.sidebar__user-icon--wrapper {
  position: relative;
}

.sidebar__settings-icon {
  width: 10px;
  height: 10px;

  fill: #6a6a6a;
}

.sidebar__settings-icon--circle {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 28px;
  height: 28px;

  background-color: #ffffff;
  border: solid #e6e6e6 1px;
  border-radius: 100%;

  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
}

.sidebar__nav {
  align-items: center;
  text-transform: uppercase;
  --bs-nav-link-color: #000000;
  --bs-nav-link-hover-color: #000000;
  --bs-nav-underline-link-active-color: #000000;
  --bs-nav-underline-border-width: 0.125rem;
  --bs-nav-underline-link-active-border-color: #51b53c;
}

.sidebar__nav-link {
  font-weight: bold;
  color: #000000;
  border-bottom-color: transparent;
}

.sidebar__nav-link:hover {
  color: #000000;
  border-bottom-color: #51b53c;
}

.sidebar__nav-link:focus,
.sidebar__nav-link:focus-visible {
  color: #000000;
  border-bottom-color: #51b53c;
}

.sidebar__nav-link.active,
.sidebar__nav-link:active {
  color: #000000;
  border-bottom-color: #51b53c;
}

.sidebar__nav.nav-underline .nav-link:hover,
.sidebar__nav.nav-underline .nav-link:focus,
.sidebar__nav.nav-underline .nav-link:focus-visible,
.sidebar__nav.nav-underline .nav-link.active,
.sidebar__nav.nav-underline .show > .nav-link {
  color: #000000;
  border-bottom-color: #51b53c;
}
